configuration {
    font: "Hack 11";
    lines: 5;
    width: 30;
    columns: 2;
    padding: 6;
    bw: 2;
    line-margin: 3;
    line-padding: 3;
    separator-style: "none";
    scrollbar-width: 5;
    color-window: "#282828, #32302f";
    color-normal: "#32302f, #a89984, #32302f, #b8bb26, #282828";
    color-urgent: "#32302f, #ebdbb2, #32302f, #fb4934, #282828";
    color-active: "#32302f, #ebdbb2, #32302f, #98971a, #32302f";
}
