
[submodule "zsh/.config/zsh/fsh"]
	path = zsh/.config/zsh/fsh
	url = https://github.com/zdharma/fast-syntax-highlighting
[submodule "zsh/.config/zsh/asg"]
	path = zsh/.config/zsh/asg
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "emacs/.config/emacs"]
	path = emacs/.config/emacs
	url = https://github.com/hlissner/doom-emacs/
