!---------------------------------------------------------------------------
! Selenized black color palette for urxvt and X Window System
!
#define    bg_0        #181818
#define    bg_1        #252525
#define    bg_2        #3b3b3b
#define    dim_0       #777777
#define    fg_0        #b9b9b9
#define    fg_1        #dedede

#define    red         #ed4a46
#define    green       #70b433
#define    yellow      #dbb32d
#define    blue        #368aeb
#define    magenta     #eb6eb7
#define    cyan        #3fc5b7
#define    orange      #e67f43
#define    violet      #a580e2

#define    br_red      #ff5e56
#define    br_green    #83c746
#define    br_yellow   #efc541
#define    br_blue     #4f9cfe
#define    br_magenta  #ff81ca
#define    br_cyan     #56d8c9
#define    br_orange   #fa9153
#define    br_violet   #b891f5

*background:              bg_0
*foreground:              fg_0
*fading:                  40
*fadeColor:               bg_0
*cursorColor:             fg_1
*pointerColorBackground:  bg_2
*pointerColorForeground:  fg_1

! normal colors: "black", red, green, yellow, blue, magenta, cyan, "white"
*color0:     bg_1
*color1:     red
*color2:     green
*color3:     yellow
*color4:     blue
*color5:     magenta
*color6:     cyan
*color7:     dim_0

! bright/bold versions of colors (in the same order)
*color8:     bg_2
*color9:     br_red
*color10:    br_green
*color11:    br_yellow
*color12:    br_blue
*color13:    br_magenta
*color14:    br_cyan
*color15:    fg_1
!! URxvt Appearance
URxvt.font: xft:Cozette:size=11
Xft.dpi:111
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.iso14755: false
URxvt.iso14755_52: false

!! Plugins n Keybinds
URxvt.perl-ext-common: default,matcher,font-size
! Launching URLs
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5
! Navigation
URxvt.keysym.M-k: command:\033]720;1\007
URxvt.keysym.M-j: command:\033]721;1\007
URxvt.keysym.Control-k: command:\033[1;5A
URxvt.keysym.Control-j: command:\033[1;5B
URxvt.keysym.Control-l: command:\033[1;5C
URxvt.keysym.Control-h: command:\033[1;5D
! Copy and pasting
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
! Turning off Control-Alt-C/V
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
! Clear terminal
URxvt.keysym.M-l: command:\033c
! Font size changing
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show
