!! URxvt Appearance
URxvt.font: xft:Cozette:size=11
Xft.dpi:111
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.iso14755: false
URxvt.iso14755_52: false

!! Plugins n Keybinds
URxvt.perl-ext-common: default,matcher,font-size
! Launching URLs
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5
! Navigation
URxvt.keysym.M-k: command:\033]720;1\007
URxvt.keysym.M-j: command:\033]721;1\007
URxvt.keysym.Control-k: command:\033[1;5A
URxvt.keysym.Control-j: command:\033[1;5B
URxvt.keysym.Control-l: command:\033[1;5C
URxvt.keysym.Control-h: command:\033[1;5D
! Copy and pasting
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
! Turning off Control-Alt-C/V
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
! Clear terminal
URxvt.keysym.M-l: command:\033c
! Font size changing
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show
