! Uses the gruvbox dark pallete (https://github.com/morhetz/gruvbox-contrib/blob/master/xresources/gruvbox-dark.xresources) edited to use defines
#define    bg_0        #1d2021
#define    bg_1        #282828
#define    bg_2        #928374
#define    dim_0       #a89984
#define    fg_0        #ebdbb2
#define    fg_1        #ebdbb2

#define    red         #cc241d
#define    green       #98971a
#define    yellow      #d79921
#define    blue        #458588
#define    magenta     #b16286
#define    cyan        #689d6a

#define    br_red      #fb4934
#define    br_green    #b8bb26
#define    br_yellow   #fabd2f
#define    br_blue     #83a598
#define    br_magenta  #d3869b
#define    br_cyan     #8ec07c

*background:              bg_0
*foreground:              fg_0
*fading:                  40
*fadeColor:               bg_0
*cursorColor:             fg_1
*pointerColorBackground:  bg_2
*pointerColorForeground:  fg_1

! normal colors: "black", red, green, yellow, blue, magenta, cyan, "white"
*color0:     bg_1
*color1:     red
*color2:     green
*color3:     yellow
*color4:     blue
*color5:     magenta
*color6:     cyan
*color7:     dim_0

! bright/bold versions of colors (in the same order)
*color8:     bg_2
*color9:     br_red
*color10:    br_green
*color11:    br_yellow
*color12:    br_blue
*color13:    br_magenta
*color14:    br_cyan
*color15:    fg_1

! dwm
dwm.normbgcolor: bg_0
dwm.normbordercolor: dim_0
dwm.normfgcolor: fg_0
dwm.selfgcolor: fg_1
dwm.selbordercolor: red
dwm.selbgcolor: br_red
